body{
	overflow:hidden;
}

#container{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	background-size:100% 100%;
	overflow:hidden;
	transition: opacity 2s;
}

#hold_container{
    position:absolute;
	top:26%;
	left:1%;
	width:98%;
	height:60%;
}
/**********Temporary************/
.containerText{
	position : absolute;
	color: #CC181E;
	font-weight:900;
	font-size:13px;
	margin:21% 0% 0% 6%;
	z-index:1;
}
.line{
	position : absolute;
	margin : 26% 0% 0% 5%;
	width : 30%;
	height : 0px;
	opacity : 0.9;
	border : 2px solid #CC181E;
	z-index : 1;
}
/*************END*************/
#sub_container1{
	position:absolute;
	top:16%;
	left:0.2%;
	width:24.75%;
	height:70%;
	overflow-x:auto;
	overflow-y:hidden;
	background-color:#000;
	opacity:0.85;
	/*cursor:pointer;*/
}

#sub_container2{
	position:absolute;
	top:16%;
	left:25.2%;
	width:24.75%;
	height:70%;
	overflow-x:auto;
	overflow-y:hidden;
	background-color:#000;
	opacity:0.85;
	/*cursor:pointer;*/
}

#sub_container3{
	position:absolute;
	top:16%;
	left:50.2%;
	width:24.75%;
	height:70%;
	background-color:#000;
	opacity:0.85;
	/*cursor:pointer;*/
}

#sub_container4{
	position:absolute;
	top:16%;
	left:75.2%;
	width:24.75%;
	height:70%;
	background-color:#000;
	opacity:0.85;
	/*cursor:pointer;*/
}

#breakToHomeUp{
	position:absolute;
	top:26%;
	height:30%;
	width:100%;
	background-color:#000;
	opacity:0;
	transition:top 1.5s;
}
#breakToHomeDown{
	position:absolute;
	top:56%;
	height:30%;
	width:100%;
	background-color:#000;
	opacity:0;
	transition:top 1.5s;
}

#header{
	position:absolute;
	top:0%;
	height:15%;
	width:100%;
	background-color:#000;
	opacity:0;
}

#footer{
	position:absolute;
	top:88%;
	height:12%;
	width:100%;	
	background-color:#fff;
	color:#000;
	opacity:0;
}

#footer-content p{
	font-size:11px;
	color:#000;
	width:120px;
	margin:1% auto 0;
}

#footer-content a{
	color:#cc181e;
	padding:0px 2px 0px 2px;
	text-decoration:none;
	transition:background 0.5s, color 1s;
}

#footer-content a:hover{
	color:#fff;
	background-color:#cc181e;
	text-decoration:none;
}

#window-top{
	position:absolute;
	top:0%;
	width:100%;
	height:49.5%;
	background-color:#fff;
	opacity:0.85;
	transition:top ease-in-out 2s;
}
	
#window-bottom{
	position:absolute;
	top:50.5%;
	width:100%;
	height:49.5%;
	background-color:#000;
	opacity:0.85;
	transition:top ease-in-out 2s;
}

#center-logo{
	position:absolute;
	width:6%;
	height:12%;
	margin-left: 47%;
	top:44%;
	border-radius:50%;
	z-index:3;
	background-image:URL('light.png');
	background-size:100% 100%;
	transition:top ease-in-out 2s;
}

#center-logo-back{
	position:absolute;
	overflow:hidden;
	width:7%;
	height:14%;
	margin-left:46.5%;
	top:43%;
	border-radius:50%;
	opacity:0.9;
	transition:top ease-in-out 2s;	
	background-color:#888;
}

#center-loading-line{
	position:absolute;
	width:100%;
	height:1%;
	top:49.5%;
	z-index:2;
	background-color:#888;
}

#center-loading-box{
	position:absolute;
	width:100%;
	height:100%;
	margin-left:-100%;
	border-radius:50%;
	transition:top ease-in-out 2s;	
	background-color:#CC181E;
}

#backToHome{
	position:absolute;
	display:none;
	top:75%;
	left:47.5%;
	width:5%;
	height:5%;
	z-index:20;
	border:none;
	background:#000;
	color:#cc181e;
	opacity:0.85;
	font-size:13px;
}
#backToHome:hover{
	transition:background 1s,color 1s;
	background:#cc181e;
	color:#000;
}


/*#main_image{
position: absolute;
top: 100px;
left: 25px;
height:200px; 
width:250px;

}	*/

/*
#sponsor_holder{
	
position: absolute;
width: 90%;
height: 50%;
z-index: 4;
background-color: blue;

top: 33%;
left:4%;

}*/

/*
.img_placer{
position: fixed;
z-index: 10;
padding: 2rem;
display: block;
}
*/
.generate_sp_img{	
	position: relative;
	top: -107px;
	left: 55px;
	border-radius: 0.2rem;
	width: 200px;
	height: 100px;
}

.reflect_sp_img{
position: relative;
top: -107px;
left: 55px;
border-radius: 0.2rem;
width: 200px;
height: 100px;

}

.image_block { top:170px; width:200px; margin:0px 10px; float:left; }

.gallery_block {
	position:absolute;
	top:50%;
	width:100%;
	height:100%;
	float:left;
}
.generate_gallery_img{
	position: absolute;
	top:-30%;
	width: 20%;
	height: 50%;
	cursor: pointer;
}

.reflection { position:relative; }
.reflection img {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; opacity:0.20;
    filter: alpha(opacity='20');
}
.overlay { position:absolute; top: -105px; left:0px; margin-left: 55px; width:200px; height:100px;
background-image: -moz-linear-gradient( center bottom, rgb(0,0,0) 60%, rgba(0,0,0,0) 75%);
background-image: -o-linear-gradient( rgba(0,0,0,0) 25%, rgb(0,0,0) 40%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.60, rgb(0,0,0)), color-stop(0.75, rgba(0,0,0,0)));
filter: progid:DXImageTransform.Microsoft.Gradient( gradientType=0, startColor=0, EndColorStr=#000000);
}


/**********Varun************/
.preview {
	position : relative;
	width: 60%;
	height : 50%;
	background-size:100% 100%;
	margin: 15% 0% 0% 30%;
	overflow : hidden;
	z-index:2;
}
.hoverZoom {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}
.scaleUp {
	cursor:pointer;
    -webkit-transform: scale(1); 
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
	}
.scaleUp:hover {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
	}
/*************Varun*************/
#image-container{
	position:absolute;
	top:18%;
	left:27.5%;
	width:45%;
	height:58%;
	opacity:0;
	background-size:100% 100%;
	z-index:3;
	transition:opacity 500ms;
	display:none;
}

#leftArrow{
	display:none;
	position:absolute;
	width:5%;
	height:10%;
	z-index:5;
	top:45%;
	background-color:#fff;
	left:-7%;
	cursor:pointer;
}

#rightArrow{
	display:none;
	position:absolute;
	width:5%;
	height:10%;
	z-index:5;
	top:45%;
	left:102%;
	background-color:#fff;
	cursor:pointer;
}

#thumbnailContainer{
	display:none;
	opacity:0;
	position:absolute;
	z-index:3;
	top:77%;
	width:100%;
	height:9%;
	background-color:#000;
	overflow-x:auto;
	overflow-y:hidden;
}

.generate_thumbnail{
	position:relative;
	float:left;
	width:5%;
	height:100%;
	margin-left:0.5%;
	height: 100%;
	background-size:100% 100%;
	opacity:0.5;
	cursor: pointer;
}

.generate_thumbnail:hover{
	transition:opacity 1s;
	opacity:1;
}

/* contacts properties*/ 

.generate_contact_img
{   position: absolute;
	width: 70%;
	height: 100%;
	z-index:21;
    margin-left: auto;
    margin-right: auto;
	cursor: pointer;
	 -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.generate_contact_img:hover {
    opacity: .7;
    -webkit-transform: scale(1.1,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.1,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: absolute;
    z-index: 21;
}

.contact_block {
	position:absolute;
	width: 10%;
	height: 20%;
	float:left;

	padding: 0.25rem;
	/*text-align:center;
    text-indent:center;*/
}

#overlay {
    display: none;
    position: absolute; 
    left: 25%; 
    top: 25%; 
    padding: 25px; 
    border: 2px solid black;
    background-color: #000;
    opacity: 0.8;
    width: 50%;
    height: 50%;
    z-index: 100; 
}

#fade {
    display: none;  
    position: absolute;  
    left: 0%; 
    top: 0%; 
    background-color: black;
    -moz-opacity: 0.7; 
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; 
}

.overlay_images{

   padding: 2rem;
   position: absolute;
   top: 20%;
   width: 40%;
   height: 80%;
   border: 5px;
   border-color: #fff;

}

.smaller-div{
	position:relative;
	width:33.33%;
	height:50%;
	float:left;
	background-color:#000;
}

p{
text-align: right;
font-size: 14px;
color: #fff;
}

#designation{
color: #fff;
top: 0%;
}

#overlay_contents{

position: absolute;
top:33%;
left:60%;

}

/* contacts properties*/ 

#about{
	position:absolute;
	width:50%;
	height:100%;
	display:none;
	left:25%;	
	color:#ddd;	
	padding:2% 5% 2% 5%;
}
#about p{
	font-size:15px;
	line-height:20px;
	text-align:left;
}
#about h1{
	text-align:center;
}

.linkToFestember{
	position:relative;
	float:left;
	width:20%;
	height:20%;
	margin-left:2%;
	background-color:#f00;
}

.social{
	position:absolute;
	top:0%;
	width:10%;
	height:100%;
	left:64%;
}

.social-links{
	position:relative;
	float:left;
	width:23%;
	height:30%;	
	margin:25% 0% 35% 2%;
	background-size:100% 100%;
	opacity:0.5;
}
.social-links:hover{
	opacity:1;
	cursor:pointer;
}